
body {
  border: 0; margin: 0; padding: 0;
}

#logo {
  
  width: 100%; height: 100%; background-color: red;
  background: #fff url('../images/logo.png') no-repeat center center;
  background-size: 336px 256px;
  
  -webkit-animation-name: reveal;
  -webkit-animation-iteration-count: once;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-duration: 1s;
  
}

@-webkit-keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media all and (-webkit-min-device-pixel-ratio: 2) {
  #logo { background: #fff url('../images/logo@2x.png') no-repeat center center; }
}

